<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" (mouseenter)="showDefinition=true" (mouseleave)="showDefinition=false">
  <h1 [ngClass]="showDefinition ? 'transparent' : 'opaque'">
    serendipity
  </h1>
  <h2 class="definition" *ngIf="showDefinition" [@fade]>
    (noun): the faculty or phenomenon of finding valuable or agreeable things not sought for
  </h2>
</div>
<app-categories *ngIf="(StageService.$stage | async) == 3" [@slideInOut]></app-categories>
<app-random *ngIf="(StageService.$stage | async) == 1" [@slideInOut]></app-random>
<app-serendipitous *ngIf="(StageService.$stage | async) == 4" [@slideInOut]></app-serendipitous>
