<div class = "content" [ngClass]="loading ? 'loading' : ''">
    <form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
        <div class = "bioItems">
            <input
            type="number"
            formControlName="age"
            placeholder="Age *">
            <div class="dropdownContainer"
            (focusin)="showDropdown=true"
            (focusout)="showDropdown=false"
            (mouseenter)="showDropdown=true"
            (mouseleave)="showDropdown=false">
              <input
              type="text"
              formControlName="gender"
              placeholder="Gender *"
              style="width:100%"
              readonly>
              <div *ngIf="showDropdown" class="dropdown" [@slide]>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Male'); showDropdown=false">Male</li>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Female'); showDropdown=false">Female</li>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Other'); showDropdown=false">Other</li>
              </div>
            </div>
            <input
            type="email"
            formControlName="email"
            placeholder="Email *"
            autocomplete="none">
         </div>

         <div class = "categories">
            <h2 class = "formField"> Please select <i>at least 10</i> of your normally purchased categories.</h2>
            <div class="catContainer" *ngFor="let category of categories;" [ngClass]="selectedCategory == category.id ? 'droppedCat' : ''" (click)="toggleBigCat(category.id)">
              <input type="button" class="catBtn" id="{{ category.id }}" value ="{{ category.name }}">
              <div class="subCatContainer" *ngIf="selectedCategory == category.id" [@slide]>
                <div style="padding-bottom: 15px">
                  <input type="button" class="subCatBtn" *ngFor="let subCategory of category.children" id="{{ subCategory.id }}" [ngClass]="this.likedcategories.indexOf(subCategory.id) > -1 ? 'selected' : ''" (click)="toggleSubCat(subCategory.id); $event.stopPropagation()" value ="{{ subCategory.name }}">
                </div>
              </div>
            </div>
         </div>
         <input type="submit" *ngIf="profileForm.valid && this.likedcategories.length >= 10" value="next>" [@slide]>

    </form>


    <div class="invalidInput" [@slide]>
        <p *ngIf="!this.profileForm.get('age').valid && (this.profileForm.get('age').touched || this.profileForm.get('age').dirty)" [@slide]>Invalid Age</p>
        <p *ngIf="!this.profileForm.get('gender').valid && (this.profileForm.get('gender').touched || this.profileForm.get('gender').dirty)" [@slide]>Invalid Gender</p>
        <p *ngIf="!this.profileForm.get('email').valid && (this.profileForm.get('email').touched || this.profileForm.get('email').dirty)" [@slide]>Invalid Email</p>
        <p *ngIf="(this.likedcategories.length < 10 && (this.likedcategories.length > 0 || (this.profileForm.touched || this.profileForm.dirty)))" [@slide]>Please select at least 10 categories!</p>
        <p *ngIf="this.serverError" [@slide]>Invalid Input</p>
    </div>
</div>
