<div *ngIf="consent==false" class = "overlay content" [@fade]>
  
  <h1>welcome</h1>
  <h2>Welcome to the Product Interest Survey!</h2>
  <h2>Please read the following carefully and click the 'Go' button to provide your consent and to continue this survey:</h2>

  <h2 class = "heading">ABOUT:</h2>
  <p class = "overlay-content"><span class = "tab">This</span> survey is brought to you by Jack Flukinger and Rexford Essilfie, rising 2nd year students of Grinnell College undertaking research. 
    By participating in this research you will help us improve current knowledge in the area of Recommender Systems.
  </p>

  
  <h2 class = "heading">PROCESS:</h2>
  <p class = "overlay-content"><span class = "tab">In</span> this survey, you will first be registered and then asked a series of questions on some products.
    Kindly answer all questions asked to the best of your knowledge. At the end of this survey, you may be instructed to return to answer a few more questions.
    Should this be the case, please look out for an email for further instructions to complete the rest of the survey.
    At the end of the entire process, you may be contacted via email to recieve monetary compensation for your valuable time!
    Please review the next section on Data & Privacy and then consent if you wish to continue.
  </p>
  
  <h2 class = "heading">DATA & PRIVACY:</h2>
  <p class = "overlay-content"><span class = "tab">The</span> data provided within this research would be stored securely and will only be used for the purposes of the research.
    When you complete the first step of the survey, a cookie will be stored on your local computer and will be used as the login token to return you to your most recent stage in the survey.
    Only the researchers in this study will be able to see any personally identifiable information taken within this survey. Should you decide to stop taking the survey at any point after registration in the first step, simply click on help and select 'Stop'.
    Following this, any data collected about you would be deleted.
  </p> 
  
  <h2 style = "text-align: right">I accept the terms above and consent to taking this survey:</h2>
  <input class="consentbtn" type="button" value="Go" (click)=acceptConsent()>
</div>


<div class = "content" [ngClass]="loading ? 'loading' : ''">
    <h1>step 1</h1>
    <h2 class="topmessage">Please fill out the following information:</h2>
    <form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
        <div class = "bioItems">
            <input
            type="number"
            formControlName="age"
            placeholder="Age *">
            <div class="dropdownContainer"
            (focusin)="showDropdown=true"
            (focusout)="showDropdown=false"
            (mouseenter)="showDropdown=true"
            (mouseleave)="showDropdown=false">
              <input
              type="text"
              formControlName="gender"
              placeholder="Gender *"
              style="width:100%"
              readonly>
              <div *ngIf="showDropdown" class="dropdown" [@slide]>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Male'); showDropdown=false">Male</li>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Female'); showDropdown=false">Female</li>
                <li class="dropdownItem"
                (click)="this.profileForm.get('gender').setValue('Other'); showDropdown=false">Other</li>
              </div>
            </div>
            <input
            type="email"
            formControlName="email"
            placeholder="Email *"
            autocomplete="none">
         </div>

         <div class = "categories">
            <h2 class = "topmessage"> Please select your normally purchased categories:</h2>
            <div class="catContainer" *ngFor="let category of categories;" [ngClass]="selectedCategory == category.id ? 'droppedCat' : ''" (click)="toggleBigCat(category.id)">
              <input type="button" class="catBtn" id="{{ category.id }}" value ="{{ category.name }}">
              <div class="subCatContainer" *ngIf="selectedCategory == category.id" [@slide]>
                <div style="padding-bottom: 15px">
                  <input type="button" class="subCatBtn" *ngFor="let subCategory of category.children" id="{{ subCategory.id }}" [ngClass]="this.likedcategories.indexOf(subCategory.id) > -1 ? 'selected' : ''" (click)="toggleSubCat(subCategory.id); $event.stopPropagation()" value ="{{ subCategory.name }}">
                </div>
              </div>
            </div>
         </div>
         <input type="submit" *ngIf="profileForm.valid && this.likedcategories.length >= 10" value="next>" [@slide]>

    </form>


    <div class="invalidInput" [@slide]>
        <p *ngIf="!this.profileForm.get('age').valid && (this.profileForm.get('age').touched || this.profileForm.get('age').dirty)" [@slide]>Invalid Age</p>
        <p *ngIf="!this.profileForm.get('gender').valid && (this.profileForm.get('gender').touched || this.profileForm.get('gender').dirty)" [@slide]>Invalid Gender</p>
        <p *ngIf="!this.profileForm.get('email').valid && (this.profileForm.get('email').touched || this.profileForm.get('email').dirty)" [@slide]>Invalid Email</p>
        <p *ngIf="(this.likedcategories.length < 10 && (this.likedcategories.length > 0 || (this.profileForm.touched || this.profileForm.dirty)))" [@slide]>Please select at least 10 categories!</p>
        <p *ngIf="this.serverError" [@slide]>Invalid Input</p>
    </div>
</div>
