label, .formField{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0.5em;
    text-align: center;
    list-style: none;
    padding: 10px;
}

.content{
    width: 90%;
}

.categories{
  margin: auto;
  padding:20px;
  margin-bottom: 10vh;
}

.catContainer {
  overflow-y: hidden;
  margin-bottom: 5px;
  padding: 15px 15px 0px 15px;
  transition: .1s;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px black inset;
    background-color: #333333;
    color: white;
  }
}

.catBtn{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  padding-bottom: 15px;
  background: transparent;
  width: 100%;
  text-align: center;
  border: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.subCatContainer {
  //margin: 10px;
}

.subCatBtn {
  border: none;
  background: none;
  padding: 10px;
  color: white;
  text-shadow: 0px 0px 2px black;
  transition-property: background-color;
  transition-duration: .2s;

  &:hover {
    background-color: #386f38;
    font-weight: bold;
    cursor: pointer;
  }
}

.droppedCat {
  background-color: #333333;
  color: white;
}

.selected {
  background-color: #386f38;
}


form{
    text-align: center;
}

input {
  font-family: 'Roboto', sans-serif;
  border: 0px;
  border-bottom: 1em solid #333333;
  font-size: 1.3em;
}

input[type=text], input[type=number], input[type=email] {
  width: 33%;
  padding-top: 20px;
  background-color: #333333;
  color: white;
  z-index: 10;
}

::placeholder {
  color: lightgrey;
}

input:focus {
  outline: none;
}


input[type=submit] {
  position: fixed;
  height: 10%;
  width: 100%;
  bottom: 0;
  left: 0;
  border: none;
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 1.5em;
  background-color: #333333;
  transition: .2s;
  text-align: center;

  &:hover{
    box-shadow: 0px 0px 2px black inset;
    cursor: pointer;
  }

}

.dropdownContainer {
  margin: 0;
  display: inline-block;
  width: 33%;
}

.dropdown {
  width: 33%;
  position: absolute;
  left: 33%;
  background: #333333;
  color: white;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  overflow-y: hidden;
}

.dropdownItem {
  list-style: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.dropdownItem:hover {
  cursor: pointer;
  font-weight: bold;
}

.bioItems{
  position: relative;
  padding: 0px 20px;
  background-color: #333333;
  box-shadow: 0px 0px 2px black inset;

}


.invalidInput{
  position: fixed;
  bottom: 0px;
  left: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding-left:10px;
  padding-right: 10px;
  background: #a94442; /* red */
  color: white;
  width: 20%;
  margin-top: 1em;
  box-shadow: 0px 0px 2px black;
}

p {
  overflow-y: hidden;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: .5em;
  padding-bottom: .5em;
}
