<div class="itemview" *ngIf="!loading" [@slideInOut]>
    <img id="itemimage" src='{{(ItemService.$item | async)?.image}}' alt = '{{(ItemService.$item | async)?.name}} image'>
    <div>
      <p id="itemname">{{(ItemService.$item | async)?.name}}</p>
      <p id="itemprice">{{(ItemService.$item | async)?.price}}</p>
      <p id="itemdescription">{{(ItemService.$item | async)?.description}}</p>
    </div>
</div>
<div class="questionsContainer">
  <div class="questions">
      <h2>I would buy this item.</h2>
      <div class="choices">
        <input type='button' [ngClass]="this.q1answer? 'selected':''" (click)="q1answer=true;" class="y" value='yes'>
        <input type='button' [ngClass]="this.q1answer? 'selected':''" class="n" value='no'>
      </div>
  </div>

  <div class="questions" *ngIf="this.q1answer != null">
      <h2>I have heard of this product already.</h2>
      <div class="choices">
        <input type= 'button' class="y" value='yes'>
        <input type= 'button' class="n" value='no'>
      </div>
  </div>

  <div class="questions" *ngIf="this.q2answer != null">
      <h2>I would have purchased this product without a recommendation</h2>
      <div class="choices">
        <input type='button' class="y" value='yes'>
        <input type='button' class="n" value='no'>
      </div>
  </div>
