.wrapper {
  min-height: 100vh;
}

.itemsleft {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

.itemview {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  min-height: inherit;
  transition-delay: .5s;
  transition: .2s;
}

img {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  margin-top: 2em;
  margin-bottom: auto;
}

input{
    width: 50%;
    height: 3em;
    border: none;
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 1.5em;
    background-color: #333333;
    transition: .3s;
    text-align: center;

    &:hover {
      box-shadow: 0px 0px 2px black inset;
      cursor: pointer;
    }

}

input[type=submit] {
    height:inherit;
    margin-left: auto;

    &:hover {
      box-shadow: 0px 0px 1px black inset;
      cursor: pointer;
    }

}

input:focus {
  outline: none;
}

.y:hover {
  background-color: #386f38;
}

.selected-y{
  background-color:#386f38;
}

.selected-n{
  background-color: #a94442;
}

.n:hover {
  background-color: #a94442;
}

.questionsContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #333333;
  color: white;
  box-shadow: 0px 0px 2px black;
  overflow-x: auto;
}

.choices {
  left: 3em;
}

.questions {
  position: relative;
  width: 2em;
  min-width: 2em;
  text-align: center;
  padding: .5em;
  border-right: 1px solid #00000030;
  border-top: 1px solid #00000030;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s ease-out;

  &:hover {
    cursor: pointer;
  }
}

.selectedQuestion {
  width: 100%;
  min-width: min-content;
}

.questionInfo {
  font-size: 1.2em;
  padding-left: 3em;
}

.questionNum {
  position: absolute;
  font-size: .7em;
  top: 0;
  left: 1em;
}

.iteminfo{
  font-family: 'Roboto', sans-serif;
  width: auto;
  max-width: 75%;
  overflow-x: auto;
}

#itemname{
  font-size: 2em;
  margin-bottom: 0.2em;
}

#itemdescription {
  text-align: left;
  overflow-y: auto;
  font-size: 1em;
}

#numratings {
  font-size: 1em;
  text-shadow: none;
  font-weight: bold;
  padding-left: .5em;
  align-self: center;
}

#itemprice{
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#itemimage{
  padding-right: 20px;
  max-width: 23%;
}

.rating {
  margin-top: 0;
  margin-bottom: .5em;
  text-shadow: 0px 0px 2px black;
  display: inline-grid;
  grid-template-columns: 2.3em 2.3em 2.3em 2.3em 2.3em auto;
  grid-template-rows: 2.3em;
}

.fa-star {
  font-size: 2em;
  transition: .2s;
  width: 100%;
  text-align: center;
  margin-top:auto;
  text-shadow: 0px 0px 3px black;
  color: white;
}

.coloredfullstar {
  color: #ffb01f;
}

.fa-star-half {
  font-size: 2em;
  transition: .2s;
  width: 100%;
  text-align: center;
  margin-top:auto;
  color: #ffb01f;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 999px) {
  .itemview {
    padding-left: 0px;
    padding-right: 0px;
  }
}
